div.digitaltext ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}
a.link1{
	color: black;
}
a.link2{
	color: black;
	margin-right: 8px;
}
div.digitaltext ul li p{
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 30px;
	margin-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 23px;
}
ul.number3 h3{
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 30px;
	margin-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 23px;
	font-style: italic;
}
ul.number3 ol li{
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 70px;
	margin-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 23px;
}
li.fiveteps{
	margin-right: 60px;
}
ul.number2{
	margin-top: 30px;
}
div.main3{
	padding-top: 60px;
	margin-left: 35px;
	margin-right: 35px;
	background-color: #FAF9F9;
	box-shadow: -1px 4px 10px 5px; 
}
div.heading3 h1{
	color: black;
	text-align: center;
}
div.test-button{
	text-align: center;
	justify-content: space-between;
	display: flex;
	padding-left: 60px;
	padding-right: 60px;
}
div.test-button button{
	background-color: #FAF9F9;
	color: black;
	padding: 15px 30px;
	cursor: pointer;
	font-size: 25px;
	align-items: center;
  	border: 2px solid #000;
  	box-sizing: border-box;
  	cursor: pointer;
 	display: inline-flex;
  	touch-action: manipulation;
  	font-weight: 600px;
}
div.test-button button:hover{
	border-color: #447BC5;
 	color: #447BC5;
}
@media (max-width: 768px){
	ul.number2{
		width: 100%;
		flex-direction: column;
	}
	div.test-button{
		flex-direction: column;
	}
	ul.number3{
		width: 100%;
		flex-direction: column;
	}
	div.heading3{
		font-size: 18px;
	}
}